<div class="head" style="width: 710px; margin:0 auto;">
<p style="margin: 0px; padding: 10px;">&nbsp;</p>
</div>

<p><strong>亲爱的的用户：</strong></p>

<p><span style="color: rgb(0, 0, 0); font-family: 'Segoe UI'; font-size: 12px; font-weight: bold; line-height: 20px;">%companyName%</span><span style="color: rgb(0, 0, 0); font-family: 'Segoe UI'; font-size: 12px; line-height: 20px; text-indent: 24px;">&nbsp;</span>邀请您参加<span style="color: rgb(0, 0, 0); font-family: 'Segoe UI'; font-size: 12px; line-height: 20px; text-indent: 24px;">&nbsp;</span><b style="color: rgb(0, 0, 0); font-family: 'Segoe UI'; font-size: 12px; line-height: 20px; text-indent: 24px;">%positionName%</b><span style="color: rgb(0, 0, 0); font-family: 'Segoe UI'; font-size: 12px; line-height: 20px; text-indent: 24px;">&nbsp; </span>岗位的笔试<span style="color: rgb(0, 0, 0); font-family: 'Segoe UI'; font-size: 12px; line-height: 20px; text-indent: 24px;">。</span></p>

<p>请点击下方链接或扫描二维码进入笔试界面。</p>

<p>笔试须知：</p>

<p style="font-size:12px; text-indent:2em">有效期截止至：&nbsp;%expiration%</p>

<p style="font-size:12px; text-indent:2em">笔试时间限制：%timeLimit%分钟</p>

<p style="font-size:12px; text-indent:2em">注意：笔试过程中不可暂停，超时将视为自动交卷。</p>

<p style="font-size:12px; text-indent:2em">网页入口：</p>

<p style="font-size:18px; text-indent:23px"><a href="%testUrl%" style="color:#2eb0ae" target="_blank">点我开始笔试</a></p>

<p style="font-size:12px; text-indent:2em">手机入口：</p>

<p style="font-size:12px; text-indent:2em"><img alt="" src="http://123.57.17.159:8080/ttup_api/service/qrcode?u=aHR0cDovLzEyMy41Ny4xNy4xNTk6ODA4MC90dHVwX3RhbGVudC90ZXN0bG9naW4%2FcGlkPTM5MTE%3D" /></p>

<p style="font-size:12px;">此致</p>
